body {
  margin: 0;
  font-family: 'inter', sans-serif;
  background: no-repeat url('./assets/blob5.png') right 0 fixed,
    no-repeat url('./assets/blobs.png') left 0 bottom 0 fixed, #F5F7FB;
  height: 100vh;


}

.app-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

.start-screen {
  padding-top: 35vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.title {
  color: #293264;
  font-size: 31px;
  line-height: 35px;
  font-weight: 700;
}

.sub-title {
  color: #293264;
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
}

.start-quiz {
  width: 200px;
  height: 50px;
  border: none;
  background-color: #4D5B9E;
  color: #F5F7FB;
  font-family: 'inter';
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  border-radius: 15px;

}

.start-quiz:hover {
  background-color: #3e4a88;
}

.start-quiz:active {
  box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}

.quiz-container {
  margin-top: 0px;
}

.quiz-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quiz-element {

  margin: 40px auto 15px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
}

hr {
  width: 65%;
  border-top: 1px solid #DBDEF0;
}

.check-answers {
  margin-top: 30px;
  height: 50px;
  width: 150px;
  border-radius: 20px;
  border: none;
  background-color: #4D5B9E;
  font-family: 'inter', sans-serif;
  color: #F5F7FB;
  font-weight: 500;
  font-size: 15px;
  margin-bottom: 50px;
}

.check-answers:hover {
  background-color: #3e4a88;
}

.check-answers:active {
  box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}

ul {
  margin: 20px;
  width: 100%;
  display: flex;
  padding: 0;
  gap: 20px;
  justify-content: space-evenly;
}

ul>li {
  list-style-type: none;
}

.question {
  text-align: center;
  font-size: 25px;
  line-height: 20px;
  color: #293264;
}

input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
}

label {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  text-align: center;
  background-color: transparent;
  padding: 10px;
  font-family: 'inter', sans-serif;
  font-size: 15px;
  outline: 2px solid #4D5B9E;
  border-radius: 15px;
}

input[type="radio"]:checked+label {
  background-color: #D6DBF5;
  outline: none;
}

input[type="radio"]:hover+label {
  outline: none;
  background-color: #D6DBF5;
}


.correct+label {
  background-color: #94D7A2;
  outline: none;
  pointer-events: none;
}

.wrong+label {
  opacity: 0.75;
  background-color: #F8BCBC;
  outline: none;
  pointer-events: none;
}



@media (max-width:950px) {
  body {
    overflow: auto;
    overflow-x: hidden;
  }

  .quiz-element {

    margin: 50px auto 5px;

    width: 90%;
  }

  label {
    padding: 2px;
    height: 50px;
    min-width: 50px;
    line-height: 13px;

    text-overflow: ellipsis;
  }


}